<ion-view hide-nav-bar="true">
<ion-content>

  <div class="row">
    <img ng-src="img/bell.png" id="login-logo">
  </div>
  <div class="row">
    <h1 id="login-text" class="title"><strong>ping</strong></h1>
  </div>
  <div class="row">
    <div id="login-form" class="list list-inset">
      <label class="item item-input" id="dropshadowed-box">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
    </div>
  </div>
  <div class="row">
    <button class="button button-block button-energized" id="sign-in" ng-click="fbLogin()">SIGN IN</button>
  </div>
  <div class="row">
    <img ng-src="img/fb.png" id="facebook-logo" ng-click="fbLogin()">
  </div>
  <div class="row" id="account-maintainence">
      Create Account | Forgot Password
  </div>
  </ion-content>
</ion-view>
