<ion-view view-title="resources">
<ion-nav-bar class="bar-tiff">


<div class="row scroll-100">
  <div class="col scroll-view"><button class="butt button-block button-icon"></button></div>
  <div class="col scroll"><button class="butt button-block button-icon "></button></div>
</div>

<div class="row">
  <div class="col">
      <button class="butt button-block button-icon" onclick="window.location.href='http://www.cmu.edu/student-affairs/ocsi/sarv/guide/title-ix-resource-guide-2015_08_21-update.pdf'">Title IX</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="butt button-block button-icon" onclick="window.location.href='https://www.cmu.edu/student-affairs/ocsi/sarv/restricted/fall-2015-survivor-support-network-list.pdf'">SSN Directory</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="butt button-block button-icon">CMU Survivor Support Network</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="butt button-block button-icon" onclick="window.location.href='http://www.cmu.edu/student-affairs/ocsi/sarv/index.html'">CMU Sexual Assault and Relationship Violence </button>
  </div>
</div>

</ion-nav-bar>
</ion-view>
