<ion-view view-title="ping">
<ion-nav-bar class="bar-positive">


<div class="row scroll-100">
  <div class="col scroll-view"><button class="butt button-block button-icon"></button></div>
  <div class="col scroll"><button class="butt button-block button-icon "></button></div>
</div>

<div class="row">
  <div class="col">
      <button class="butt button-block button-icon"></button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="butt button-block button-icon"></button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="butt button-block button-icon">CMU SSN</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="butt button-block button-icon" onclick="window.location.href='http://www.cmu.edu/student-affairs/ocsi/sarv/index.html'">CMU SARV </button>
  </div>
</div>

</ion-nav-bar>
</ion-view>
