/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #6a416b !default;
$positive:                        #6a416b !default;
$calm:                            #6a416b !default;
$balanced:                        #6a416b !default;
$energized:                       #6a416b !default;
$assertive:                       #6a416b !default;
$royal:                           #6a416b !default;
$dark:                            #6a416b !default;
$tiff:                            #6a416b !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.butt {
   background-color: #6a416b;
   height:50px;
   border-radius: 10px;
   width:50px;
}

.butt:hover {

  background-color: #bd8cbf;
}

.groupcons{
    background: url('../img/icons.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 65%;
    margin: 0;
    z-index: 0;
    position: relative;
  }


  .continue{
    background: url('../img/YellowR.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30%;
    height: 10%;
    margin: auto;
    z-index: 0;
    position: relative;
  }
.Sorg{
    background: url('../img/Sorg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 54%;
    height: 95%;
    margin: auto;
    z-index: 2;
    position: relative;
  }

  .faux-search{
    background: url('../img/Rect4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    height: 10%;
    margin: auto;
    z-index: 0;
    position: relative;
}
.continue-text
{
    background: url('../img/CONTINUE.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 60%;
    height: 80%;
    margin: auto;
    z-index: 2;
    position: relative;

}

.welcome-card{
    padding-top:45px;
    padding-bottom:10px;
    margin-top:30%;
    margin-right:18px;
    margin-left:18px
}

.welcome-text{
    text-align:center;
    border-width:0px;
}
.welcome-user{
    font-weight:bold;
}

.user-photo-card{
    position: absolute;
    z-index: 9999;
    margin-left: 39.5%;
    align-content: center;
    top: -25%;
    box-shadow: 0px 5px 10px #c5c5c5;
}
.user-photo{
    padding:3px;
    height: 85px;
}
.food-button{
    left:20%;
    border-radius:50%;
    box-shadow: 0px 3px 3px #c5c5c5;
}
.button-icon-home{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
}
.button-col{
    align-content: center;
}
.food-text{
    padding-top:10px;
    margin:auto;
    font-weight:bold;
}

#login-logo{
    width:110px;
    height:110px;
    margin:auto;
    margin-top:110px;
}
#login-text{
    font-weight: bold;
    color:white;
    font-size:50px;
    margin:auto;
    margin-top:15px;
    margin-bottom:25px;
}

#login-form{
    margin:auto;

    border-radius:14px;

    :first-child{
        border-top-width:0px;

    } 
    :last-child{
        border-bottom-width:0px;

    } 
    #dropshadowed-box{

        -webkit-box-shadow: inset 0px 2px 1px 0px rgba(74, 74, 74, 0.48);
        -moz-box-shadow: inset 0px 2px 1px 0px rgba(74, 74, 74, 0.48);
        box-shadow: inset 0px 2px 1px 0px rgba(74, 74, 74, 0.48);
    }
    .item-input{
        padding-top:2px;
        padding-bottom:2px;
        padding-right:30px;
        background-color: #eeeeee;
    }
}
#facebook-logo{
    margin:auto;
    margin-top:40px;
   
    width:250px;
    height:45px;
}

#sign-in{
    margin:auto;
    margin-top:10px;
    width:65%;
    border-radius:14px;
    border-width:0px;
    color:#444;
    font-weight:500;
    box-shadow: 0px 3px 1px rgba(66, 66, 66, 0.42);
    min-height:0px;
}
#account-maintainence{
    color:#D7D6D6;
    margin:auto;
    width: 230px;
    :first-child span{
        margin-left:32%;
    }
}
.divider{
     border-left:1px solid #D7D6D6; 
     border-right:1px solid #D7D6D6; 
     height:20px;
     position:absolute;
     right:50%;
     top:95%; 
}
.bar .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    line-height: 44px; }
    .bar .title.title-left {
      text-align: left; }
    .bar .title.title-right {
      text-align: right; }

.popup-sub-title {
    color: white;
    font-weight: 500;
    
}