/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #8f8f8f !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444    !default;
$tiff:                            #6a416b !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


// .welcome-card{
//     padding-top:45px;
//     padding-bottom:10px;
//     margin-top:30%;
//     margin-right:18px;
//     margin-left:18px
// }

// .welcome-text{
//     text-align:center;
//     border-width:0px;
// }
// .welcome-user{
//     font-weight:bold;
// }

// .user-photo-card{
//     position: absolute;
//     z-index: 9999;
//     margin-left: 39.5%;
//     align-content: center;
//     top: -25%;
//     box-shadow: 0px 5px 10px #c5c5c5;
// }
// .user-photo{
//     padding:3px;
//     height: 85px;
// }
// .food-button{
//     left:20%;
//     border-radius:50%;
//     box-shadow: 0px 3px 3px #c5c5c5;
// }
// .button-icon-home{
//     margin-right: 5px;
//     margin-left: 5px;
//     margin-top: 15px;
// }
// .button-col{
//     align-content: center;
// }
// .food-text{
//     padding-top:10px;
//     margin:auto;
//     font-weight:bold;
// }

#login-logo{
    width:110px;
    height:110px;
    margin:auto;
    margin-top:110px;
}
#login-text{
    font-weight: bold;
    color:white;
    font-size:50px;
    margin:auto;
    margin-top:15px;
    margin-bottom:25px;
}

#login-form{
    margin:auto;

    border-radius:14px;

    :first-child{
        border-top-width:0px;

    } 
    :last-child{
        border-bottom-width:0px;

    } 
    #dropshadowed-box{

        -webkit-box-shadow: inset 0px 2px 1px 0px rgba(74, 74, 74, 0.48);
        -moz-box-shadow: inset 0px 2px 1px 0px rgba(74, 74, 74, 0.48);
        box-shadow: inset 0px 2px 1px 0px rgba(74, 74, 74, 0.48);
    }
    .item-input{
        padding-top:2px;
        padding-bottom:2px;
        padding-right:30px;
        background-color: #eeeeee;
        
    }
}
#facebook-logo{
    margin:auto;
    margin-top:40px;
   
    width:250px;
    height:45px;
}

#sign-in{
    margin:auto;
    margin-top:10px;
    width:65%;
    border-radius:14px;
    border-width:0px;
    color:#444;
    font-weight:500;
    box-shadow: 0px 3px 1px rgba(66, 66, 66, 0.42);
    min-height:0px;
}
#account-maintainence{
    color:#D7D6D6;
    margin:auto;
    :first-child span{
        margin-left:32%;
    }
}
.divider{
     border-left:1px solid #D7D6D6; 
     border-right:1px solid #D7D6D6; 
     height:20px;
     position:absolute;
     right:50%;
     top:95%; 
}

