#map {height: 900px;}

/* Empty. Add your own CSS if you like */

.faux-search{
    background: url('../img/Rect2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    opacity: %;
    position: relative;
}

searchBar {
	color: #fff;
	margin: 100 !important;
	padding: 100;
}
.searchBar .icon {
	font-size: 27px;
	line-height: 1.2;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 20px;
}
.searchBar .searchTxt {
	border-bottom: 1px solid #fff;
	left: 55px;
	font: Avenir;
	width: calc(100% - 100px);
	top: 80px;
	position: fixed;
	height: calc(100% - 10px);
}
.searchBar.numicons2 .searchTxt {
	width: calc(100% - 135px);
}
.searchBar .searchTxt > .bgdiv {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
}
.searchBar .searchTxt > .bgtxt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.searchBar .searchTxt input {
	background-color: inherit;
	color: #000;
	padding-left: 5px;
	padding-right:5px;
}
